* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    margin: 10%;
}

.cards .card1,
.card2,
.card3,
.card4 {

    border: solid 1px grey;
    max-width: 361.67PX;
}

img {
    width: 100%;

    object-fit: cover;
}

nav {
    padding: 5%;
    background-color: rgb(154, 146, 146);
    color: red;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    align-content: center;


}

.cartes {
    width: 80vw;
    max-width: 1000px;
    margin: 2rem auto;
}


.cartes {

    display: grid;
    grid-template-columns: 361.67PX;
    grid-template-rows: auto 1fr auto;
    gap: 30px;


}

.title {
    text-align: center;
    font-family: 'fira mono', monospace;
    font-size: 30px;
    font-weight: lighter;
    align-self: center;
    letter-spacing: 2.5px;





}

h3 {


    font-weight: 'fira mono', monospace;
    font-weight: 500;
    font-size: 20px;
    color: black;
    letter-spacing: 2px;
    padding-bottom: 20px;

}

.info {
    padding: 5%;
    font-family: 'fira mono', monospace;

}

.info p {
    font-size: 10px;
    padding-top: 5%;
    line-height: 20PX;
    letter-spacing: 2PX;
    color: rgb(69, 67, 67);
}

.bouton {

    margin-top: 50px;
    padding-top: 8px;
    padding-left: 40px;
    margin-bottom: 50px;
}

#bth {
    background-size: convert;
    color: rgb(243, 80, 35);
    text-transform: capitalize;
    width: 150px;
    height: 40px;
    font-size: 14PX;
    font-weight: lighter;
    letter-spacing: 3px;
    background-color: white;
    border: SOLID 3PX rgb(243, 80, 35);
}

@media(min-width:768px) {

    .cartes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    }

    .info p {
        height: 156PX;
    }


}




@media (min-width:1040px) {

    .cartes {


        display: grid;


        grid-template-columns: 1fr 1fr 1fr;

    }

}