* {
  margin: 0;
  padding: 0;
}

div {
  border: 3px solid red;
  margin-top: 40%;
  background-color: yellow;
}
.one {
  background-color: blue;
  color: white;
  position: relative;
}
.parent {
  position: relative;
}
.special {
  background-color: pink;
  font-size: 1.5rem;
  position: absolute;
  top: O;
  left: 2rem;
}
.container {
  min-height: 200vh;
  background-color: blue;
}

.nav {
  background-color: blueviolet;
  color: white;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-top: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
